@charset "utf-8";
@import url(normalize.css);
/*************************************************************
                  基本設定
**************************************************************/
*{
    box-sizing: border-box;
}

body{
    font-family: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic",sans-serif;
    background-image: url(../images/img-background.jpg);
    background-position: center center;
    background-size: cover;                /*大きさ自動的*/
    background-repeat: no-repeat;
    background-attachment: fixed;                /*背景固定*/
}

ul{
    list-style: none;
}

/*************************************
              sidebar
**************************************/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #222;
    color: #fff;
    padding-top: 20px;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 50px;
    overflow: hidden;
}

.sidebar h2 {
    text-align: center;
    font-size: 18px;
    margin: 0 0 20px;
    white-space: nowrap;
    transition: opacity 0.3s;
}

.sidebar a {
    white-space: nowrap;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    text-decoration: none;
    color: #ccc;
}

.sidebar.collapsed h2,.sidebar.collapsed a {
    opacity: 0;
}

.sidebar a:hover {
background-color: #444;
color: #fff;
}

.sidebar .menuBtn {
position: absolute;
top: 10px;
left: 10px;
width: 30px;
height: 30px;
background: #444;
color: #fff;
border-radius: 50%;
border: none;
cursor: pointer;
user-select: none;
}

/*************************************
              header
**************************************/

.header-wrapper{
    width: 960px;
    display: flex;
    margin: 0 auto;
}

.header-wrapper .mainvisual {
    width: 960px;
    height: 465px;
    background-image: url(../images/mainvisual.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*************************************
              intro
**************************************/

.intro {
    width: 960px;
    display: flex;
    margin: 0 auto;
}
.intro .card {
    margin-top: 30px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 12px;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
.intro img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #444;
}

.intro .text .name{
    width: 680px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.intro .text .kata{
    font-size: 11px;
    color: #fff;
}

.intro .text h2 {
    margin-top: 0;
    font-size: 28px;
    color: #fff;
}

.intro .text p{
    width: 680px;
    margin-top: 25px;
    margin-right: 20px;
    color: #ccc;
}

/*************************************
              works
**************************************/

.works{
    width: 960px;
    margin: 0 auto;
}

.works .card{
    margin-top: 30px;
    padding: 40px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 12px;
    width: 960px;
}

.works .card h2{
    margin: 0;
    font-size: 26px;
    padding-left: 10px;
    border-left: 5px solid #00bcd4;
    color: #fff;
}

.work{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.work p{
    font-size: 16px;
    margin: 0;
    width: 540px;
    color: #ccc;
}

/*************************************
              footer
**************************************/

.page-footer{
    margin-top: 50px;
    background: rgba(34, 34, 34, 0.8);
    height: 120px;
}

.copyright{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

/*************************************
              second
**************************************/

.header-wrapper .mainvisual-second {
    width: 960px;
    height: 465px;
    background-image: url(../images/mainvisual-second.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*************************************
              lifeCareer
**************************************/

.lifeCareer{
    width: 960px;
    margin: 0 auto;
}

.lifeCareer .card{
    margin-top: 30px;
    padding: 40px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 12px;
    width: 960px;
}

.lifeCareer .card h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    color: #fff;
    padding-left: 10px;
    border-left: 5px solid #7c00d4;
}

.lifeCareer .card .lc h2{
    color: #fff;
    margin: 0;
}

.lifeCareer .card .lc p{
    margin-bottom: 50px;
    color: #ccc;
}

/*************************************
              third
**************************************/

.header-wrapper .mainvisual-third {
    width: 960px;
    height: 465px;
    background-image: url(../images/mainvisual-third.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.styles{
    width: 960px;
    margin: 0 auto;
}

.styles .card{
    margin-top: 30px;
    padding: 40px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 12px;
    width: 960px;
}

.styles .card h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    color: #fff;
    padding-left: 10px;
    border-left: 5px solid #d40075;
}

.styles .card .style h2{
    color: #fff;
    margin: 0;
}

.styles .card .style p{
    margin-bottom: 50px;
    color: #ccc;
}

/*************************************
              forth
**************************************/

.header-wrapper .mainvisual-forth {
    width: 960px;
    height: 465px;
    background-image: url(../images/mainvisual-forth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.movies{
    width: 960px;
    margin: 0 auto;
}

.movies .card{
    margin-top: 30px;
    padding: 40px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 12px;
    width: 960px;
}

.movies .card h1{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    color: #fff;
    padding-left: 10px;
    border-left: 5px solid #43d400;
}

.movies .card .movie{
    width: 560px;
    margin: 0 auto;
}

.movies .card .movie h2{
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
}